<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>A.L.L.O | Home</title>

    <!-- Favicon -->
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/littleallofav.png">
    <!-- Core Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!--jQuery Calendar Theme-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" />

    <!--jQuery Progress Bar-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- For Font style -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

    <!--AJAX-->
    @*<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">*@

    <!--Datatables.net css-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />


</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="mosh-preloader"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                            <!-- Logo -->
                            <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/img/dinosauricon3.png" alt="logo" style="width:85%" ></a>
                            

                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                                <ul class="navbar-nav animated" id="nav">

                                    <li class="nav-item"><a class="nav-link"  style="font-size:15px" href="@Url.Action("Index","Home")">Home <i class="fa fa-home"></i></a></li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="moshDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                                        <div class="dropdown-menu" aria-labelledby="moshDropdown">

                                            @if (User.IsInRole("HR Admin"))
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Index", "Lessons")">Lessons</a>
                                                <a class="dropdown-item" href="@Url.Action("Index","CourseCompletions")">Completed Courses</a>
                                            }
                                            @if (User.IsInRole("HR Admin") || User.IsInRole("Manager"))
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Index", "LessonViews")">Lessons Viewed</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "CourseCompletions")">Course Completions</a>

                                            }
                                            <!--Move to Manager Only View after testing-->
                                            <a class="dropdown-item" href="@Url.Action("UntypedView","Home")">Employee Progress</a>

                                            <!--Need to make your progress employee viewable only-->
                                            <a class="dropdown-item" href="@Url.Action("UntypedViewEmployee","Home")">Your Progress</a>

                                            @*<a class="dropdown-item" href="@Url.Action("Index","UserDetails")">User Details</a>*@
                                            <a class="dropdown-item" href="@Url.Action("Index","Courses")">Courses</a>

                                        </div>
                                    </li>

                                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","LessonsViewed")">Lessons Viewed</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","UserDetails")">User Details</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Lessons")">Lessons</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Courses")">Courses</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","CourseCompletion")">Completed Courses</a></li>*@


                                    @*<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>*@

                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact HR</a></li>

                                    @if (User.IsInRole("HR Admin"))
                                    {
                                        <li>@Html.ActionLink("Add Roles", "Index", "RolesAdmin") &nbsp;&nbsp;</li>
                                        <li>@Html.ActionLink("Add Users", "Index", "UsersAdmin")</li>
                                    }
                                </ul>

                                <!-- Login/Register btn -->
                                @Html.Partial("_LoginPartial")
                                @*<div class="login-register-btn">
                <a href="@Url.Action("Login","Account")">Login</a>
                <a href="@Url.Action("Register","Account")">/ Register</a>

            </div>*@
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--RenderSection for Style associated with the CSS view-->
    @*@RenderSection("style", false)*@
    <div id="MessageDisplay" class="row">
        <div class="col-md-10 col-md-offset-1" id="MessageContent"></div>
    </div>

    @RenderBody()

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area clearfix">
        <!-- Top Footer Area -->
        <div class="top-footer-area section_padding_100_0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <a href="@Url.Action("Contact","Home")" class="mb-50 d-block" style="width:80%"><img src="~/Content/img/nodes.jpg" alt="Finger pushing the web of information"></a>
                            @*<p style="font-size:13px">We hope this annual training keeps you refreshed on what's important in the work environment. Please Contact HR if you have any questions.</p>*@
                            
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Fast links</h5>
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Home <i class="fa fa-home"></i></a></li>
                                <li><a href="@Url.Action("Index","Courses")">Courses  <i class="fa fa-book"></i></a></li>
                                <li><a href="@Url.Action("UntypedViewEmployee","Home")">Your Progress  <i class="fa fa-check"></i></a></li>
                                @*<li><a href="#">Accordions and tabs</a></li>
                                <li><a href="#">Menu ideas</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3" style="color:ivory;">
                        <div class="single-footer-widget mb-100">
                            <h5>Resources</h5>
                            <div class="footer-single--blog-post" style="font-size:40px; font-weight: 300">
                                <a href="http://www.youtube.com">
                                    <p>www.youtube.com</p>
                                </a>
                                <a href="http://www.w3schools.com">
                                    <p>www.w3schools.com</p>
                                </a>
                                <a href="http://www.stackoverflow.com">
                                    <p>www.stackoverflow.com</p>
                                </a>
                                @*<a href="#" class="blog-post-title">
            <h6>Why we love stock photos</h6>
        </a>*@
                            </div>
                            @*<div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <p>22 September, 2017</p>
                                </a>
                                <a href="#" class="blog-post-title">
                                    <h6>Designin on grid. A few rules. </h6>
                                </a>
                            </div>
                            <div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <p>20 September, 2017</p>
                                </a>
                                <a href="#" class="blog-post-title">
                                    <h6>2017 World Design Congress</h6>
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Contact Info</h5>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="~/Content/img/core-img/map.png" alt="">
                                </div>
                                <p>22 Grizzly Road, Kalispell, Montana</p>
                            </div>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="~/Content/img/core-img/call.png" alt="">
                                </div>
                                <p>Main: 203-808-8613 <br> Office: 203-808-8648</p>
                            </div>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="~/Content/img/core-img/message.png" alt="">
                                </div>
                                <p>office@yourbusiness.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area" style="background-color:#172b5a">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                            <div class="copyright-text">
                                <p style="color:#aba7a7;">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> Coverted by Lance Vogel
                                    <div style="color:#abadbe; font-size: 10px">Icons made by <a href="https://www.flaticon.com/free-icon/dinosaur_2614727" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            @*<div class="footer-social-info">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/template")*@

    <!--ADDEDjQuery UI CDN-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--ADDED jQuery Ajax CDN-->
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    <!--JavaScript for Datatables.net-->
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <!-- jQuery-2.2.4 js *******************************************************-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Content/js/active.js"></script>

    <!--YouTube Player-->
    <script src="http://www.youtube.com/player_api"></script>

    <!--DatePicker js-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>