@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using LMSFinalProject.DATA.EF;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Course List (Six required for Annual Training Completion)";
}

<div style="padding-left:3em; padding-bottom: 2em">
    <h2 style="padding-top:4em">@ViewBag.Title</h2>


    @foreach (Course col in ViewBag.EmpNoCourse)
    {<ul>
            <li style="font-weight:500">
                @col.CourseName
            </li>
        </ul>
    }

    <h2>Courses Completed</h2>
    @foreach (CourseCompletion con in ViewBag.EmpCourse)
    {
        <ul style="font-size:20px">
            <li>
                <strong> @con.Course.CourseName <i class="fa fa-check"></i></strong> &mdash; @string.Format($"{con.UserDetail.FirstName} {con.UserDetail.LastName}") &mdash; @string.Format($"{con.DateCompleted}")

            </li>
        </ul>
    }


    <h3>Lessons Completed</h3>
    @foreach (LessonView les in ViewBag.EmpLess)
    {
        <ul style="font-size: 14px">
            <li>
                <strong> @les.Lesson.LessonTitle <i class="fa fa-check"></i></strong> &mdash; @string.Format($"{les.UserDetail.FirstName} {les.UserDetail.LastName}") &mdash; @string.Format($"{les.DateViewed}")
            </li>

        </ul>
    }
</div>