@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using LMSFinalProject.DATA.EF;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Course List (Six required for Annual Training Completion)";
}

<h2 style="padding-top:3.5em; padding-left:1.2em">@ViewBag.Title</h2>
<div style="padding-left:3em; padding-bottom: 2em">
    


    @foreach (Course col in ViewBag.EmpNoCourse)
    {<ul>
            <li style="font-weight:500">
                @col.CourseName
            </li>
        </ul>
    }

    <h2>Courses Completed</h2>
    @foreach (CourseCompletion con in ViewBag.EmpCourse)
    {
        <ul style="font-size:20px">
            <li>
                <strong> @con.Course.CourseName <i class="fa fa-check"></i></strong> &mdash; @string.Format($"{con.UserDetail.FirstName} {con.UserDetail.LastName}") &mdash; @string.Format($"{con.DateCompleted.Date.ToString("d")}")

            </li>
        </ul>
    }

</div>