@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using LMSFinalProject.DATA.EF;
@*@model LMSFinalProject.DATA.EF.CourseCompletion*@
@*@model LMSFinalProject.DATA.EF.LessonView*@

@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Employee Progress";
}

<div style="padding-left:3em; padding-bottom: 2em">
    <h2 style="padding-top:3em; font-family:'Franklin Gothic'; font-size:40px">@ViewBag.Title</h2>

    <h3>Completed Lessons</h3>
    <ul style="padding-bottom:1.5em">
        @foreach (LessonView le in ViewBag.OrderLesson)  //Home Controller
        {
        <li style="color:black;">
            @le.UserDetail.FirstName @le.UserDetail.LastName&mdash; <strong>@string.Format($"{le.Lesson.LessonTitle}")</strong> &mdash; @string.Format($"{le.DateViewed.Date}")
        </li>
        }
    </ul>

    <h3>Completed Courses</h3>
    <ul style="padding-bottom:1.5em">
        @foreach (CourseCompletion cou in ViewBag.OrderCourse)
        {
        <li>
            @cou.UserDetail.FirstName  @cou.UserDetail.LastName &mdash; <strong>@string.Format($"{cou.Course.CourseName}")</strong> @string.Format($"{cou.DateCompleted}")
        </li>
        }

        @*@Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })*@
        @*@Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })*@

    </ul>

    <h3>Completed Annual Training</h3>
    @foreach (CourseCompletion ad in ViewBag.AnnualDone)
    {
    <ul>
        <li>
            @ad.UserDetail.FirstName @ad.UserDetail.LastName  &mdash; <strong>@string.Format($"{ad.DateCompleted}")</strong>
        </li>
    </ul>
    }
</div>




<script>

   //Progress Bar for Employee Course Completion
$( function() {
    $( "#UserId" ).progressbar({
      value: 6
    });
  } );
</script>

