@model LMSFinalProject.DATA.EF.Lesson

@{
    ViewBag.Title = "Details";
}

<h2 style="padding-left:1em; padding-top:4em">@ViewBag.Title</h2>

<div>
    <h4 style="padding-left:1.4em">Lesson</h4>
    <hr />
    <dl class="dl-horizontal" style="padding-left:2em">
        <dt>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.VideoURL)" target="_blank">@Html.DisplayFor(model => model.VideoURL)</a>
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.PdfFilename)
        </dt>

        <dd>
            <a href="~/Content/resources/@Model.PdfFilename" target="_blank">PDF Link</a>
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

    </dl>
</div>
<p style="padding-left:2.3em">
    @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
