@model IEnumerable<LMSFinalProject.DATA.EF.Lesson>

@if (User.IsInRole("HR Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                Lesson
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            <th>
                Video
            </th>
            <th>
                PDF
            </th>
            <th>
                Course
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>

                <td>
                    <a href="@Html.DisplayFor(modelItem => item.VideoURL)" target="_blank">Video Link</a>
                </td>

                    <td>
                        <a href="~/Content/resources/@Html.DisplayFor(modelItem => item.PdfFilename)" target="_blank">PDF Link</a>
                    </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>


                    <!--Complete Lesson (Big Button Domino Effect) (Only seen by employees)-->
                    @if (User.IsInRole("Employee"))

                    {
                        <p class="probootstrap-animate"><a href="@Url.Action("LessonComplete", "Courses", new RouteValueDictionary(new { id = item.LessonId }))" class="btn btn-primary mb10" style="color:white" onclick="display()" value="Click me">Complete</a></p>


                    }
                    
                </td>
            </tr>
        }

    </table>
    <script>
        

            //-YouTube API (Need to rework to add to partial in later versions)
        @*var player;
        var h = '@ViewBag.height';
        var w = '@ViewBag.width';
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: 360,
                width: 640,
                modestbranding: 1,
                videoId: '@ViewBag.VideoID',
                playerVars: {
                    rel: 0,
                    autoplay: 0,
                    disablekb: 0,
                    showsearch: 0,
                    showinfo: 0,
                    controls: 1,
                    fs: 1,
                    hd: 1,
                    html5: 1,
                    iv_load_policy: 3
                },
                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            });
        }
        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
            if (event.data === 0) {
                //do something on end;
                alert('done');
            }
        }*@
    </script>
