@model IEnumerable<LMSFinalProject.DATA.EF.Lesson>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfFilename)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>

                <!--********************************************************************************-->
                <!--Complete Link/Button-->

                @*<form action="#" method="get" onsubmit="validateForm(event)">

                    <div id="CompleteLesson" style="padding-left:2em">*@
                        
                        @*<a href="@Url.Action("Index","LessonViews")">Complete Lesson</a>*@


                        <p class="probootstrap-animate"><a href="@Url.Action("Create", "LessonViews")" class="btn btn-primary mb10" style="color:white">Complete</a></p>


                       <!--Partial within Partial V-->
                        @*@Html.Partial("LessonViewsCreate", new LMSFinalProject.DATA.EF.LessonView())*@
                    @*</div>
                    <button id="toggleLessonComplete" class="btn btn-primary" style="padding-left:2em">
                        Complete Lesson
                    </button>
                </form>*@
                <!--************************************************************************************-->


                    @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LessonId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })
            </td>
        </tr>
    }

</table>

