@model IEnumerable<LMSFinalProject.DATA.EF.LessonView>

@{
    ViewBag.Title = "Lessons Viewed";
}

<h2 style="padding-top: 3.5em; padding-left:1em"">@ViewBag.Title</h2>



<div style="padding-left:2em; font-weight:500">
    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>

            <th>
                Lesson Title
            </th>

            <th>
                Date Viewed
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LessonViewId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewId })
                </td>
            </tr>
        }

    </table>
</div>
